body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Sass Syntax error: File to import not found or unreadable: compass\\css3. \A               Load path: C:\\Users\\Owner\\Desktop\\repc4t\\jc4t\\assets\\sass \A         on line 1 of C:\\Users\\Owner\\Desktop\\repc4t\\jc4t\\assets\\sass\\donuts.scss \A   Use --trace for backtrace. \A '; }

  body * {
  	display: none;
  }
