/**
 * prism.js Monokai theme for CSS & Sass/Scss
 *
 * @todo test for JavaScript & HTML
 *
 * @author @MoOx
 */
/* line 39, ../sass/prism-monokai.scss */
code[class*="language-"],
pre[class*="language-"] {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  line-height: 18px;
  color: #76d9e6;
  text-shadow: 0 1px 0 black;
}

/* line 65, ../sass/prism-monokai.scss */
pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #2a2a2a;
}

/* line 70, ../sass/prism-monokai.scss */
pre[class*="language-"] {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #e1e1e8;
}

/* line 89, ../sass/prism-monokai.scss */
:not(pre) > code[class*="language-"] {
  padding: 0.15em 0.2em 0.05em;
  border-radius: .3em;
  border: 0.13em solid #7a6652;
  box-shadow: 1px 1px 0.3em -0.1em black inset;
}

/* line 96, ../sass/prism-monokai.scss */
.namespace {
  opacity: .7;
}

/* line 104, ../sass/prism-monokai.scss */
.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #6f705e;
}
/* line 111, ../sass/prism-monokai.scss */
.token.null, .token.operator, .token.boolean, .token.number {
  color: #a77afe;
}
/* line 116, ../sass/prism-monokai.scss */
.token.attr-name, .token.string {
  color: #e6d06c;
}
/* line 123, ../sass/prism-monokai.scss */
.token.entity, .token.url, .language-css .token.string, .style .token.string {
  color: #e6d06c;
}
/* line 127, ../sass/prism-monokai.scss */
.token.selector {
  color: #a6e22d;
}
/* line 137, ../sass/prism-monokai.scss */
.token.atrule, .token.attr-value, .token.keyword, .token.control, .token.directive, .token.important, .token.unit {
  color: #f12770;
}
/* line 142, ../sass/prism-monokai.scss */
.token.regex, .token.statement {
  color: #76d9e6;
}
/* line 147, ../sass/prism-monokai.scss */
.token.placeholder, .token.variable {
  color: white;
}
/* line 152, ../sass/prism-monokai.scss */
.token.property, .token.tag {
  font-style: italic;
}
/* line 157, ../sass/prism-monokai.scss */
.token.important, .token.statement {
  font-weight: bold;
}
/* line 180, ../sass/prism-monokai.scss */
.token.punctuation {
  color: #bebec5;
}
/* line 184, ../sass/prism-monokai.scss */
.token.entity {
  cursor: help;
}
/* line 189, ../sass/prism-monokai.scss */
.token.debug {
  color: red;
}
